#TOP {
	position:absolute;
	top:170px;
	left:185px;
}

#homme {

	position:absolute;
	top:170px;
	left:20px;  
}


.catégorie {

	font-family: 'Palanquin Dark', sans-serif;
	font-size: 20px;
	color:black;
	text-decoration:none;

}

.link {

	font-family: "Microsoft Sans Serif", sans-serif;
	color: black;
	text-decoration:none;
	font-size: 15px;
	left:40px;
}

.bouton {

    background-color: black;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
.boutonachat {

    position:absolute;
    top: 50%;
    left: 110%;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
.boutonretour {

    position:absolute;
    top: 70%;
    left: 115%;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
.boutonretour1 {
    position:absolute;
    top: 40%;
    left: 20%;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.boutoncommande {
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.boutonpanier {
    position:absolute;
    top: 60%;
    left: 30%;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#reverseart {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position:absolute;
    top: 20%;
    left:10%;
    height: 60%;
    width: auto;
}
.exemple1 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}
#nameart {
    display: inline-block;
    font-family: 'Palanquin Dark', sans-serif;
    font-size:40px;
    position:absolute;
    top:1%;

    left: 110%;
}

#prizee {
    font-size: 35px;
    position:absolute;
    top: 35%;
    left: 120%;
}

#stansmith2 {
	font-family: 'Palanquin Dark', sans-serif;
    position:absolute;
    left: 15%;
    bottom: -10%;
}



#price1 {
	position:absolute;
    left: 40%;
    bottom: -15%;

}

.boutonbuy {

    
    background-color: black;
    border: none;
    font-size: 40px;
    color: white;
    padding: 32px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

#buy {
	position:absolute;
    top: 75%;
    left: 70%;

}

.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	font-size: 15px;
    font-family: "Microsoft Sans Serif";
    visibility: hidden;
    width: 180px;
    background-color: #424242;
    color: #01A9DB;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent grey;
}

#sizeee {
	font-family: 'Palanquin Dark', sans-serif;
	font-size:20px;
	position:absolute;
	top:65%;
	left:70%;
}

#indic {
    text-align: inline;
	position:absolute;
	top:90%;
	left:105%;
}

body footer {
    position:absolute;
    top:120%;
    background-color: black;
    height: 80px;
    width: 100%;
}

body footer p {
    text-align: center;
    color: white;
    padding: 16px;
    font-size: 20px;
}

#color {
	font-family: 'Palanquin Dark', sans-serif;
	font-size:20px;
	position:absolute;
	top:55%;
	left:70%;
}
.unproduit{
    position:absolute;
    top:20.5%;
    left:22%;
}
.unproduit img{
    width: 900px;
    height: 600px;
}
.deuxproduits{
    position:absolute;
    top:20.5%;
    left:37%;
}
.deuxproduits img{
    width: 900px;
    height: 600px;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup img {
    height: 200px;
    width: 200px;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 30%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#test1{
    position:absolute;
    left: 15%;
    bottom: -30%;
}
.produiit1{
    position:absolute;
    top: 25%;
    left: 10%;
    z-index: 10;
}
.produiit1 img{
    width:900px;
    height: 600px;
}
#basket {
    width: 1200px;
    height: 500px;
    background-color: white;
}
#indication {
    position:absolute;
    top: 50%;
    left: 25%;
