body {
	background-color: white;
	color: black;
	margin: 0;
}

#search {
	background         : url(../img/searchicon.png) no-repeat;
	background-position: right;
	background-size    : contain;
	border             : none;
	border-bottom      : 2px solid black;
	margin             : auto;
	max-width          : 30%;
	min-width          : 22%;
	padding            : 8px;
	padding-top        : 10px;
}

header h1 {
	font-size: 30px;
	font-family: 'Fugaz One', cursive;
	padding-top: 50px;
	width: 290px;
	height: 40px;
	margin: auto;
	padding: 15px;
}

#langage {
	border  : 2px solid #000;
	padding : 5px;
	position: absolute;
	right   : 16px;
	top     : 10px;
}

nav {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: center;
}

li {
	border-right   : 2px solid black;
	list-style-type: none;
	padding        : 5px 30px;
}

li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

a:hover {
	color: #585858;
}

.active {
	color: #A4A4A4;
}

p.none {
	color: white;
	font-family: 'Lilita One', cursive;
	font-size: 58px;
	right: 0px;
	border-style: none;
}

@media screen and (max-width: 768px) {
	li {
		border    : none;
		text-align: center;
		width     : 100%;
	}
}

.article {
	display       : flex;
	flex-direction: row;
	margin        : 30px 0;
	max-height    : 500px;
	width         : 100%;
}

.article:nth-child(odd) {
		background: #424242;
		color     : #D9D9D9;
}

.article:nth-child(odd) .block .informations button {
					color     : #292929;
					background: #D9D9D9;
}

.article:nth-child(odd) .block .informations button:hover {
						background: #c3c3c3;
						transition: background 0.1s;
					}

.article:nth-child(even) {
		background    : #D9D9D9;
		color         : #424242;
		flex-direction: row-reverse;
	}

.article:nth-child(even) .block .informations button {
		color     : #D9D9D9;
		background: #292929;
}

.article:nth-child(even) .block .informations button:hover {
		background: #4a4a4a;
		transition: background 0.1s;
	}

.block {
		text-align: center;
		width     : 50%;
}

.block img {
		max-width : fit-content;
		width     : 100%;
		max-height: 500px;
}

.block .informations {
   		padding: 35px;
}

.block .informations h1 {
		font-family: 'Lilita One', cursive;
		font-size  : 40px;
		height     : auto;
		margin     : 0 auto;
		padding    : 5px;
		width      : 80%;
		word-wrap  : break-word;
}

.block .informations button {
		background: #FFF;
		border    : none;
		cursor    : pointer;
		margin-top: 25px;
		padding   : 15px 45px;
		transition: background 0.1s;
}

.block .informations .stars span {
		font-size: 25px;
		padding  : 15px;
}

.block .informations button, .stars {
		margin: 55px;
    	font-size: 20px;
}

.marques {
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
	justify-content: center;
	width         : 100%;
}

.marques img {
		height : 100px;
		padding: 15px;
		width  : 100px;
}

.marques img:nth-child(even) {
		align-self: center;
		height    : 50px;
}

@media screen and (max-width: 768px) {
	.article {
			flex-direction: column;
			width         : 100%;
			max-height    : initial;
		}
	.article:nth-child(even) {
			flex-direction: column;
		}
	.article .block {
			width: 100%;
		}
	.article .block .informations h1{
					font-size: 25px;

		}
	.article .block .informations img {
					width: inherit;
		}
}

.otherarticles {
	display       : flex;
	flex-direction: row;
	margin        : 30px 0;
	max-height    : 500px;
	width         : 100%;
}

.otherarticles .block {
		color: #424242;
		font-family: 'Lilita One', cursive;
		font-size  : 60px;
		height     : auto;
		margin     : 0 auto;
		padding    : 5px;
		width      : 80%;
		word-wrap  : break-word;
}

.otherarticles .block p {
		z-index: 200;
  		position: absolute;
  		padding-left: 5%;
}
.otherarticles .block:nth-child(even) {
	margin-left: 10%;
}

.otherarticles .block button {
    position: absolute;
    padding: 8px 35px;
    margin-top: 21vmax;
    margin-left: 16vmax;
}

@media screen and (max-width: 768px) {
	.otherarticles {
		flex-direction: column;
		width         : 100%;
		max-height    : initial;
		}
	.otherarticles .block p {
		font-size: 30px;
	}
}

body .container h2 {
	font-family: 'Palanquin Dark', sans-serif;
	padding-left: 60px;
    font-size: 30px
}

body footer {
	background-color: black;
	height: 80px;
	width: 100%;
}

.footbask {
	background-color: black;
	height: 80px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

body footer p {
	text-align: center;
	color: white;
	padding: 16px;
	font-size: 20px;
}


.blockbasket {
	padding-left: 20px;
	text-align: left;
    display: table-cell;
}

.delivery {
  	background: #424242;
    font-size: 12px;
    color: #D9D9D9;
    border-radius: 2px;
    margin: 0 auto;
    line-height: 1.4;
}

.delivery p {
	margin-top: 20px;
	padding: 20px;
	font-size: 15px;
}
.delivery p span {
	color: #01A9DB;
	font-size: 20px;
}

.dropbtn {
	background-color: #424242;
    color: #01A9DB;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 660px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 660px;
}

.dropdown-content:hover {
	background-color: #D8D8D8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 680px) {
	.delivery {
		width: 350px;
	}

	.dropbtn {
		width: 350px;
	}

	.dropdown-content{
		width: 350px;
	}
}

.basket {
	display: inline-block;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.informations button a {
	text-decoration: none;
	color: inherit;
}

.otherarticles button a {
	text-decoration: none;
	color: black;
}

.blockbasket .dropdown-content .basket p img {
	height: 50px;
	width: 90px;
}

.blockbasket .dropdown-content .basket p {
	border-bottom: 1px solid;
}

.help {
	border: 1px solid black;
    background-color: #A4A4A4;
    height: 200px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 20px;
}

.help h2 {
	color: #01A9DB;
}
#test {
	position:absolute;
	left: 45%;
	background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.dead {
	position:absolute;
	left: 15%;
	color: indianred;
	font-size: 20px;
}
.produiit1 {
	position:absolute;
	left: 40%;
}